.box {
  height: 150px;
  width: 150px;
  overflow: auto;
  background-color: red;
}

.products--grid {
  display: grid;
  //grid-template-columns: repeat(5, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px;
  div {
    img {
      width: 100%;
      border-radius: 10px;
    }
    h2, p {
      margin: 0px;
    }
  }
}

.message-error {
  background-color: red;
  color: white;
  opacity: 0;
  transition: all linear .5s;
  &.invalid {
    opacity: 1;
  }
}

.styles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
